.playlist-form {
    background: #0c3e5f;
    color: #fefefe;
    padding: 2rem;
    border-radius: 0;
  }
  
  .playlist-form .button {
    margin-bottom: 0;
    border-radius: 0 0 0 0;
  }

.parent {
  display: flex;
  
}

.box{
  width: 50%;
  height: 500px;
  background-color: bisque;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  display: none;
}

 